# Data Science Tools and Ecosystem

## Author: Erick Rolf Corona

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List Popular Languages for Data Science.
- List Commonly used Libraries for Data Science.
- Create a table for Data Science Tools.
- Create some examples for evaluating arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

|Data Science Tools|
| --- | 
|Tensor Flow|
|Apache Spark|
|Project Jupyter|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
print("200 minutes into hours is", 200/60,"hours.")

200 minutes into hours is 3.3333333333333335 hours.